<div id="container">
    <h1>Profile</h1>
    <div id="goalsContainer">
        <h2>Goals</h2>
        <div class="bar"></div>
    </div>
    <form [formGroup]="profileForm">
        <div formArrayName="goals" *ngFor="let goal of goals.controls; let i=index">
           <div [formGroupName]="i" id="goalContainer">
            <p class="goalText">{{i + 1}}.</p>
            <p class="goalText">I want to visit</p>
            <input type=text formControlName="quantity" placeholder="30" [class]="!validateInput(goal, 'quantity') ? 'error': ''"/>
            <select formControlName="countryOrPlace" placeholder="Select type">
                <option>places</option>
                <option>countries</option>
            </select>
            <p class="goalText">by age</p>
            <input type=text formControlName="age" placeholder="30" [class]="!validateInput(goal, 'age') ? 'error': ''"/>
           </div>
        </div>
    </form>
    <div id="formButtons">
      <button class="button button-save" (click)="saveChanges()" [disabled]="!profileForm.valid" [class]="!profileForm.valid ? 'disabled' : ''">Save Changes</button>
      <button *ngIf="deletedRecord != undefined" class="button" (click)="undoPreviousChange()">Undo</button>
    </div>
</div>
