#mainContainer>* {
  outline-style: solid;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  // padding-left:4rem;
  // padding-right:4rem;
  // padding-top: 2rem;
  // min-height: 80vh;
  // max-width: 90%;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#goalsSection {
  outline-color: aqua;
  color: orange;
  flex-grow: 1.5;
}

#placesVisitedSection {
  outline-color: green;
  color: red;
  flex-grow: 4;
}

#profileSection {
  display: flex;
  gap: 0.75rem;
}

#profilePic {
  height: 11rem;
  width: 11rem;
}

#statsSection {
  flex-grow: 4;
}

#profileName {
  // margin:auto
}

#statsHeaderSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#placesVisitedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dateVisited {
  align-self: flex-end;
}

#placesVisited {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#placeVisited {
  display: flex;
  justify-content: space-between;
}

#placeContainer {
  display: flex;
}

#progressBars {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 50%;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  #profilePic {
    height: 7.5rem;
    width: 7.5rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  #placesVisited {
    width: 90%;
  }

  #profilePic {
    height: 5rem;
    width: 5rem;
  }

}