#mainContainer>* {
  // outline-style: solid;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  // padding-left:4rem;
  // padding-right:4rem;
  // padding-top: 2rem;
  // min-height: 80vh;
  // max-width: 90%;
  // max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#goalsSection {
  // outline-color: aqua;
  // color: orange;
  flex-grow: 1.5;
}

#placesVisitedSection {
  // outline-color: green;
  color: red;
  flex-grow: 4;
}

#profileSection {
  display: flex;
  gap: 0.75rem;
  justify-content: space-around;
}

#profilePic {
  height: 11rem;
  width: 11rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

#statsSection {
  flex-grow: 4;
}

#profileName {
  margin-bottom: 0
}

#statsHeaderSection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#placesVisitedSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dateVisited {
  align-self: flex-end;
}

#placesVisited {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#placeVisited {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

#placeContainer {
  display: flex;
}

#progressBars {
  display: flex;
  flex-direction: column;
  align-items: end;
  // width: 50%;
  flex-wrap: wrap;
}

#editProfileButton {
  background-color: #5271ff;
  color: white;
  font-weight: bold;
}

#userRole {
  width: fit-content;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.creator {
  background-color: #8c52ff;
}

.explorer {
  background-color: #f4af27;
}

#editProfileButton:hover {
  background-color: #5909e4;
}

#calculatedStats {
  display: flex;
  justify-content: space-between;
  padding: 2rem 20rem 0 20rem;
}

#calculatedStats div {
  text-align: center;
}

#profileBadgeSection {
  display: flex;
  align-items: center;
}

#badgeContainer {
  margin-right: 2rem;
}

#editSection {
  // width: 100%;
  display: flex;
  justify-content: end;
  height: max-content;

}

#placesVisited>p {
  text-align: end;
}

.shade{
  background-color: #5909e42b;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }

  #calculatedStats {
    padding: 2rem 10rem 0 10rem;
  }

}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  #progressBars {
    width: 70%;
  }

  #calculatedStats {
    padding: 2rem 3rem 0 3rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  #progressBars {
    width: inherit;
    align-items: center;
  }

  #profileSection {
    flex-direction: column-reverse;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  // #progressBars{
  //   width:98%;
  // }

  #profileBadgeSection {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }

  // #profilePic {
  //   height: 7rem;
  //   width: 7rem;
  // }
  #calculatedStats {
    padding: 2rem 0.5rem 0 0.5rem;
  }

  .statHeader {
    font-size: 0.9rem;
  }

}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  #placesVisited {
    width: 90%;
  }

  #profilePic {
    height: 5rem;
    width: 5rem;
  }

  #calculatedStats {
    padding: 2rem 0 0 0;
  }

}