#modal {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 27%;
  margin-top: 10%;
  width: 50%;
  border-radius: 0.3rem;
}

::placeholder{
  color:rgba(255, 255, 255, 0.848);
}

#closeModalButton {
  background-color: transparent;
  color: #f90667;
  border-color: #ee327d;
  width: auto;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-width: 0.25rem;
  padding: 0 0.5rem 0 0.5rem;
  font-size: 0.9rem;
}

#closeModalButton:hover {
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  from {
  }
  to {
    background-color: #ee327d;
    color: #f3f4f4;
  }
}

#modal,
body {
  background-color: rgb(30, 30, 146);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appleIcon {
  height: 1.5rem;
  width: 1.5rem;
}

svg {
  margin-right: 0.25rem;
}

#modal > * {
  margin: 0.5rem 0 0.5rem 0;
}

#policyMessage {
  font-size: 0.9rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  font-weight: bolder;
  font-size: medium;
  border-style: solid;
  border-color: #419eea;
  border-radius: 0.5rem;
}

#sendButton{
  color: white;
  background-color: #5181cc;
  border:0;
  cursor: pointer;
}

#magicLinkMessage{
  color: #3bee3b;
}

#sendButton.disabled{
  background-color: #375179;
  cursor: not-allowed;
}

h1 {
  text-align: center;
  margin: 0%;
}

h2{
  font-size: large;
}

input{
  background-color: #15127d;
  color: white;
  width: 20rem;
  height: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  border-color: white;
}

.bar {
  width: 100%;
  margin: 0%;
  background-color: rgb(15, 15, 91);
}

@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  #modal {
    width: 70%;
    margin-left: 15%;
  }
}

/* md */
@media (max-width: 768px) {
  #modal {
    width: 80%;
    margin-left: 9%;
  }
}

/* sm */
@media (max-width: 640px) {
  #modal {
    width: 90%;
    margin-left: 4%;
  }
}

/* xs */
@media (max-width: 475px) {
  #modal {
    width: 95%;
    margin-left: 0.5%;
  }
}
