<nav id="container">
  @if(auth.currentUser){
  <div class="dropdown">
    <div id="profilePic" class="profile-icon" (mouseenter)="doShowDropdown = true" (click)="updateDropdownToggle()">
      <p>{{ auth.currentUser?.displayName | profileIconLabel }}</p>
    </div>
    <div class="dropdown-content" (mouseleave)="doShowDropdown = false"  [class.show]="doShowDropdown">
      <a href="/profile">Profile</a>
      <a href="#" (click)="Logout()">Logout</a>
    </div>
  </div>
  } @else{
  <button (click)="Login()" class="button">Login</button>
  }
</nav>
